.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
}
.sidebar .sidebar-wrapper {
  position: relative;
  z-index: 4;
  width: 260px;
  height: calc(100vh - 64px);
}
.sidebar .sidebar-wrapper > .nav {
  margin-top: 20px;
}
.sidebar .sidebar-wrapper > .user ~ .nav {
  margin-top: 0;
}
.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
  display: none !important;
}
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .nav li > a {
  margin: 5px 15px 0px;
  border-radius: 4px;
  color: #FFFFFF;
  opacity: .86;
}
.sidebar .nav li:hover > a {
  background: rgba(255, 255, 255, 0.13);
  opacity: 1;
  color: #FFFFFF;
}
.sidebar .nav li.active > a {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}
.sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a {
  padding-left: 60px;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  color: #FFFFFF;
}
.sidebar .nav p .caret {
  top: 12px;
  position: absolute;
  right: 0;
}
.sidebar .nav i {
  font-size: 28px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
.sidebar .logo-mini {
  display: none;
}

.sidebar .logo,
.bootstrap-navbar .logo {
  padding: 10px 15px;
  position: relative;
  z-index: 4;
}
.sidebar .logo p,
.bootstrap-navbar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .logo-text,
.bootstrap-navbar .logo .logo-text {
  text-transform: uppercase;
  padding: 5px 0px 5px 15px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar .logo .logo-image,
.bootstrap-navbar .logo .logo-image {
  float: left;
  height: 40px;
  width: 40px;
  margin: 0 10px;
}
.sidebar .logo .logo-round,
.bootstrap-navbar .logo .logo-round {
  border-radius: 50%;
  display: block;
  overflow: hidden;
}
.sidebar .logo .logo-round img,
.bootstrap-navbar .logo .logo-round img {
  width: 100%;
}
.sidebar .logo:before,
.bootstrap-navbar .logo:before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 10%;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sidebar .logo-mini .logo-text,
.bootstrap-navbar .logo-mini .logo-text {
  text-transform: uppercase;
  padding: 7px 0px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar .logo-img,
.bootstrap-navbar .logo-img {
  width: 30px;
  display: inline-block;
  max-height: 30px;
  margin-right: 10px;
}
.sidebar .logo-img img,
.bootstrap-navbar .logo-img img {
  width: 35px;
  top: 11px;
  position: absolute;
}
.sidebar .user,
.bootstrap-navbar .user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-top: 20px;
}
.sidebar .user .photo,
.bootstrap-navbar .user .photo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}
.sidebar .user .photo img,
.bootstrap-navbar .user .photo img {
  width: 100%;
}
.sidebar .user a,
.bootstrap-navbar .user a {
  text-align: center;
  color: #FFFFFF;
  padding: 8px 14px;
  text-align: center;
  display: block;
}
.sidebar:after, .sidebar:before,
.bootstrap-navbar:after,
.bootstrap-navbar:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.sidebar:before,
.bootstrap-navbar:before {
  opacity: .33;
  background: #000000;
}
.sidebar:after,
.bootstrap-navbar:after {
  background: #787878;
  background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.7)));
  background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}
.sidebar[data-image]:after, .sidebar.has-image:after,
.bootstrap-navbar[data-image]:after,
.bootstrap-navbar.has-image:after {
  opacity: .95;
}
.sidebar[data-color="blue"]:after,
.bootstrap-navbar[data-color="blue"]:after {
  background: #447DF7;
  background: -moz-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #447DF7), color-stop(100%, rgba(83, 60, 225, 0.7)));
  background: -webkit-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
  background: -o-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
  background: -ms-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
  background: linear-gradient(to bottom, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="azure"]:after,
.bootstrap-navbar[data-color="azure"]:after {
  background: #23CCEF;
  background: -moz-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23CCEF), color-stop(100%, rgba(64, 145, 255, 0.7)));
  background: -webkit-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -o-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
  background: -ms-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
  background: linear-gradient(to bottom, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="green"]:after,
.bootstrap-navbar[data-color="green"]:after {
  background: #87CB16;
  background: -moz-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, rgba(109, 192, 48, 0.7)));
  background: -webkit-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
  background: -o-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
  background: -ms-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
  background: linear-gradient(to bottom, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="orange"]:after,
.bootstrap-navbar[data-color="orange"]:after {
  background: #FFA534;
  background: -moz-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, rgba(236, 22, 87, 0.7)));
  background: -webkit-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
  background: -o-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
  background: -ms-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
  background: linear-gradient(to bottom, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="red"]:after,
.bootstrap-navbar[data-color="red"]:after {
  background: #FB404B;
  background: -moz-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, rgba(187, 5, 2, 0.7)));
  background: -webkit-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
  background: -o-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
  background: -ms-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
  background: linear-gradient(to bottom, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="purple"]:after,
.bootstrap-navbar[data-color="purple"]:after {
  background: #9368E9;
  background: -moz-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, rgba(148, 59, 234, 0.7)));
  background: -webkit-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
  background: -o-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
  background: -ms-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
  background: linear-gradient(to bottom, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
  background-size: 150% 150%;
}

.main-panel {
  background: #F5F5F5;
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}
.main-panel .main-content {
  padding: 30px 15px;
  min-height: calc(100vh - 136px);
}
.main-panel > .content-no-padding {
  padding: 0;
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

.sidebar,
.main-panel,
.sidebar-wrapper,
.navbar-fixed {
  -webkit-transition-property: top,bottom,width;
  transition-property: top,bottom, width;
  -webkit-transition-duration: .2s,.2s, .35s;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
  -webkit-overflow-scrolling: touch;
}

.sidebar,
.main-panel {
  max-height: 100%;
  height: 100%;
}

.perfect-scrollbar-on .sidebar .sidebar-wrapper, .sidebar .sidebar-wrapper, .perfect-scrollbar-on
.main-panel,
.main-panel {
  overflow: hidden;
}

.perfect-scrollbar-off .sidebar .sidebar-wrapper,
.perfect-scrollbar-off .main-panel {
  overflow: auto;
}

.visible-on-sidebar-regular {
  display: inline-block !important;
}

.visible-on-sidebar-mini {
  display: none !important;
}

@media (min-width: 992px) {
  .hover-collapse, .sidebar-mini .sidebar .sidebar-wrapper > .nav li:hover .collapse, .sidebar-mini .sidebar .sidebar-wrapper > .nav li:focus .collapse, .sidebar-mini .sidebar .user:hover .collapse {
    display: block;
    position: absolute;
    top: 0;
    left: 81px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
  }

  .sidebar-mini .visible-on-sidebar-regular {
    display: none !important;
  }
  .sidebar-mini .visible-on-sidebar-mini {
    display: inline-block !important;
  }
  .sidebar-mini .sidebar {
    width: 80px;
    display: block;
    font-weight: 200;
    z-index: 3;
  }
  .sidebar-mini .sidebar .sidebar-wrapper {
    overflow: inherit;
    width: 80px;
    box-shadow: none;
  }
  .sidebar-mini .sidebar .logo {
    display: none;
  }
  .sidebar-mini .sidebar .logo-mini {
    padding: 10px 0px;
    display: block;
    margin: 0px;
    position: relative;
    z-index: 4;
  }
  .sidebar-mini .sidebar .logo-mini:before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 10%;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav {
    margin-top: 20px;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a {
    margin: 5px 10px;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a:before, .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a:after {
    display: none;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav p {
    display: none;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav i {
    float: none;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a {
    color: #333333;
    padding: 8px 16px;
    margin: 0;
    border-radius: 0;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li:last-child > a {
    margin-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .sidebar-mini .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li:first-child > a {
    margin-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .sidebar-mini .sidebar .info > a {
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .sidebar-mini .sidebar .info .collapse .nav li > a {
    margin: 0;
    border-radius: 0;
  }
  .sidebar-mini .sidebar .info [data-toggle="collapse"] ~ div > ul > li:last-child > a {
    margin-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .sidebar-mini .sidebar .info [data-toggle="collapse"] ~ div > ul > li:first-child > a {
    margin-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .sidebar-mini .sidebar .user {
    position: relative;
  }
  .sidebar-mini .sidebar .user .nav a {
    color: #333333;
  }
  .sidebar-mini .sidebar .user .photo {
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
  .sidebar-mini .sidebar .collapse .nav {
    width: 160px;
    height: auto;
    position: relative;
  }
  .sidebar-mini .sidebar .collapse .nav li > a:hover, .sidebar-mini .sidebar .collapse .nav li > a:focus {
    background-color: #F5F5F5;
    opacity: 1;
    text-decoration: none;
  }
  .sidebar-mini .sidebar .collapse .nav:after {
    border-right: 11px solid #fff;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    content: "";
    display: inline-block;
    left: -10px;
    top: 8px;
  }
  .sidebar-mini .sidebar .collapse .nav li.active > a {
    background-color: #F5F5F5;
    opacity: 1;
    text-decoration: none;
  }
  .sidebar-mini .sidebar .collapse .nav:before {
    border-right: 11px solid #ccc;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    content: "";
    display: inline-block;
    left: -11px;
    top: 8px;
  }
  .sidebar-mini .sidebar .collapse .nav:after {
    border-right: 11px solid #fff;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    content: "";
    display: inline-block;
    left: -10px;
    top: 8px;
  }
  .sidebar-mini .main-panel {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  .sidebar-mini .wrapper {
    height: auto;
  }
  .sidebar-mini .sidebar,
  .sidebar-mini .main-panel {
    overflow: visible;
    max-height: none;
    height: auto;
  }
  .sidebar-mini .navbar-fixed {
    width: calc(100% - 80px);
  }
}
@media print {
  .sidebar {
    display: none !important;
  }

  .main-panel {
    width: 100% !important;
    max-width: none !important;
    max-height: none !important;
  }

  .wrapper {
    height: auto !important;
  }
}
