<div class="col-md-8 col-md-offset-2">

<div class="row">
      <h3 id='text' class="animated fadeInDown">Tout commence par une recherche...</h3>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal col-md-8 col-md-offset-2" role="form">
      <div class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Parking...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" type="button" ng-click=""></button>
          </span>
      </div>
    </form>
  </div>

<div class="row">

  <uib-tabset active="active">
    <uib-tab index="0" heading="Plus regardées">
      <div ng-repeat="aCard in cardShowed" class="card col-xs-4">
        <h1>{{aCard.title}}</h1>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Plus téléchargées">
      <div ng-repeat="aCard in cardDownloaded" class="card col-xs-4">
        <h1>{{aCard.title}}</h1>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

</div>
