<div class="container">
  <div class="row">
      <h3 id='text' class="animated fadeInDown">Tout commence par une recherche...</h3>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal col-md-8 col-md-offset-2" role="form">
      <div class="input-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Parking...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" type="button" ng-click=""></button>
          </span>
      </div>
    </form>
  </div>
</div>
