<div class="row searchPage">

  <div class="col-md-12 searchHeader">
    <h2>Votre recherche</h2>
    <h1>{{query}}</h1>
  </div>

  <div class="row searchProposition">
    <div class="col-md-4 searchLeft">
      <div ng-repeat="aCard in results">
        <div class="animated fadeIn card" style="{{timePicture($index)}}">
          <h1>{{aCard.description}}</h1>
          <p><i class="fa fa-refresh" aria-hidden="true"></i> {{aCard.modified}}</p>
          <p><i class="fa fa-building-o" aria-hidden="true"></i> {{aCard.property}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-8 searchRight">
      <div class="text-right">
        <button type="button" class="btn btn-default"><i class="fa fa-cart-plus" aria-hidden="true"></i> Ajouter à ma vue</button>
        <button ng-click="goDataset(1)" type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> Voir l'ensemble des données</button>
      </div>

      Informations sur le jeu de données

      blabla...
    </div>
  </div>

</div>
